<div class="container-fluid text-center col col-md-9 col-lg-7 col-xl-5">
    <div class="card-body p-4 ">
        <div class="d-flex text-black ">
            <div class="flex-shrink-0 ">
                <img src="./../../../../../assets/img/perfil.png " style="width: 140px; border-radius: 10px; ">
            </div>
            <div class="flex-grow-1 ms-5 ">
                <div>
                    <label class="text-white">Nombre: </label>
                    <label for="nameAdmin " class="text-white"> Aquí el nombre del admin</label> <br><br>
                    <label class="text-white">Cargo: </label>
                    <label for="cargodmin " class="text-white"> Aquí el cargo</label> <br><br><br><br>
                </div>
            </div>
        </div>
        <div class="button container fa fa-align-right " aria-hidden="true ">
            <button type="button" class="btn btn-dark ">Salir</button>
        </div>
    </div>