<section>
    <div class="container intro">
        <div class="row ">
            <div class="col-6 bg-warning">
                <p>IMAGEN</p>
            </div>
            <div class="col-6 bg-primary">
                <div class="row">
                    <div class="col-12 bg-danger">
                        <p>TITULO</p>
                    </div>
                    <div class="col-12 bg-primary">
                        <p>Texto</p>
                    </div>
                    <div class="col-12 bg-secondary">
                        <p>Botones</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="./animacion.service.ts"></script>