h2 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

.img-tamaño {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .img-tamaño {
        width: 50%;
        height: 50%;
    }
}