<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <p>IMAGEN</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <p>TITULO</p>
                </div>
                <div class="col-12">
                    <p>TEXTO</p>
                </div>
                <div class="col-12">
                    <p>BOTONES</p>
                </div>
            </div>
        </div>
    </div>
</div>