<!-- Footer -->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Las mejores Historias nunca antes escritas:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>¡VISITANOS!
                    </h6>
                    <p>
                        MÉXICO, Av. Tecnológico S/N, 55210 Ecatepec de Morelos, Méx.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        TITULOS MAS POPULARES
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">1.-La llamada de Cthulhu
                            1928</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">2.-Los gatos de Ulthar
                            1920</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">3.-En las montañas de la locura
                            1936</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">4.-El Necronomicón
                            2008</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        PELICULAS
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Cthulhu
                            2007</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Color Out of Space
                            2019</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Dagon, la secta del mar
                            2001</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Resurrección satánica
                            1985</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        CONTACTANOS
                    </h6>
                    <p><i class="fas fa-home me-3"></i> FACEBOOK : LOVECAFTOFFICIAL</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> lovecraftatencion@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 55 55 63 23 23 </p>
                    <p><i class="fas fa-print me-3"></i> + 01 800 56 23 23</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">equipoalfamaravilla.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- Footer -->